NET "g_01" LOC = P57 | IOSTANDARD = LVTTL;
NET "b" LOC = P101 | IOSTANDARD = LVTTL;
NET "r_01" LOC = P92 | IOSTANDARD = LVTTL;
NET "r_02" LOC = P97 | IOSTANDARD = LVTTL;
NET "a" LOC = P111 | IOSTANDARD = LVTTL;
NET "led_clk" LOC = P79 | IOSTANDARD = LVTTL;
NET "oe" LOC = P83 | IOSTANDARD = LVTTL;
NET "g_02" LOC = P74 | IOSTANDARD = LVTTL;
NET "lat" LOC = P67 | IOSTANDARD = LVTTL;
NET "b_01" LOC = P80 | IOSTANDARD = LVTTL;
NET "b_02" LOC = P84 | IOSTANDARD = LVTTL;
NET "c" LOC = P116 | IOSTANDARD = LVTTL;

NET "buttonL" LOC = P131 | IOSTANDARD = LVTTL | PULLUP;
NET "buttonR" LOC = P132 | IOSTANDARD = LVTTL | PULLUP;
NET "buttonU" LOC = P126 | IOSTANDARD = LVTTL | PULLUP;
NET "buttonD" LOC = P127 | IOSTANDARD = LVTTL | PULLUP;

NET "buttonY" LOC = P133 | IOSTANDARD = LVTTL | PULLUP;
NET "buttonN" LOC = P134 | IOSTANDARD = LVTTL | PULLUP;

