NET "g_01" LOC = P57;
NET "g_01" IOSTANDARD = LVTTL;
NET "b" LOC = P101;
NET "b" IOSTANDARD = LVTTL;
NET "r_01" LOC = P92;
NET "r_01" IOSTANDARD = LVTTL;
NET "r_02" LOC = P97;
NET "r_02" IOSTANDARD = LVTTL;
NET "a" LOC = P111;
NET "a" IOSTANDARD = LVTTL;
NET "led_clk" LOC = P79;
NET "led_clk" IOSTANDARD = LVTTL;
NET "oe" LOC = P83;
NET "oe" IOSTANDARD = LVTTL;
NET "g_02" LOC = P74;
NET "g_02" IOSTANDARD = LVTTL;
NET "lat" LOC = P67;
NET "lat" IOSTANDARD = LVTTL;
NET "b_01" LOC = P80;
NET "b_01" IOSTANDARD = LVTTL;
NET "b_02" LOC = P84;
NET "b_02" IOSTANDARD = LVTTL;
NET "c" LOC = P116;
NET "c" IOSTANDARD = LVTTL;

NET "buttonL" LOC = P131;
NET "buttonL" IOSTANDARD = LVTTL;
NET "buttonL" PULLUP;
NET "buttonR" LOC = P132;
NET "buttonR" IOSTANDARD = LVTTL;
NET "buttonR" PULLUP;
NET "buttonU" LOC = P126;
NET "buttonU" IOSTANDARD = LVTTL;
NET "buttonU" PULLUP;
NET "buttonD" LOC = P127;
NET "buttonD" IOSTANDARD = LVTTL;
NET "buttonD" PULLUP;

NET "buttonY" LOC = P133;
NET "buttonY" IOSTANDARD = LVTTL;
NET "buttonY" PULLUP;
NET "buttonN" LOC = P134;
NET "buttonN" IOSTANDARD = LVTTL;
NET "buttonN" PULLUP;

